---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
---

<Layout title="Pravila - Klimatski portal Speedrun">
  <Header />
  <main class="max-w-5xl mx-auto px-4 sm:px-6 lg:px-8">
    <h1 class="text-2xl font-semibold leading-6 text-gray-900">Pravila</h1>
    <p class="mt-2 mb-2 text-lg text-gray-700">Prvi Hrvatski ANY% Speedrun u potpunosti plaćen od državnog proračuna</p>

    <p class="mt-4 text-lg text-gray-700">
      Iako je Klimatski portal ANY% Speedrun u potpunosti plaćen od državnog proračuna, ovaj web site nije i nikad neće biti financiran od državnog proračuna.
      Posebne zahvale osobama koji administriraju i održavaju Facebook page <a class="text-blue-500 hover:text-blue-700 font-bold underline" href="https://web.facebook.com/klimatskiportal/" target="_blank">Klimatski portal</a>.
      Bez njihovog rada, neprospavanih noći ispred računala i neprestanog praćenja "laugh" emojii-a, ovaj speedrun ne bi bio moguć.
    </p>
    <p class="mt-4 text-lg text-gray-700">
      Osobno nemamo ništa protiv državnog proračuna, ali nekako nam se čini da bi bilo bolje da se taj novac troši na nešto korisnije od ovog speedruna.
      No, tko smo mi da sudimo? Ako država želi financirati ovaj speedrun, nije da se možemo žaliti.
      Također, nemamo osobno ništa protiv Klimatskih promjena, naprotiv <a class="text-blue-500 hover:text-blue-700 font-bold underline"href="https://www.facebook.com/volimklimu" target="_blank">volimo klimu</a>.
    </p>

    <h2 class="mt-8 text-xl font-semibold leading-6 text-gray-900">Upute za sudjelovanje u Speedrun-u</h2>

    <ul class="mt-4 text-lg text-gray-700">
      <li>
        1. Napraviti Facebook profil ili se ulogirati na već postojeći
      </li>
      <li>
        2. Posjetiti Facebook page <a class="text-blue-500 hover:text-blue-700 font-bold underline" href="https://web.facebook.com/klimatskiportal/" target="_blank">Klimatski portal</a>
      </li>
      <li>
        3. Odabrati post na koji želite reagirati. U redu je izabrati više postova, ali nemojte pretjerivati. Svaki klik pridonosi klimatskim promjenama.
      </li>
      <li>
        4. Otvoriti reakcije na postu ili postovima.
      </li>
      <li>
        5. Pokrenite svoj mjerač vremena.
      </li>
      <li>
        6. Kliknite na "laugh" emoji.
      </li>
      <li>
        7. Refresirajte stranicu i ponovite korak 6. dok ne postignete željeni rezultat.
      </li>
      <li>
        8. Kada dobijete poruku od Facebook-a da sadržaj nije dostupan, zaustavite mjerač vremena.
      </li>
      <li>
        9. Pošaljite screenshot rezultata na <a class="text-blue-500 hover:text-blue-700 font-bold underline" href="mailto:klimatskispeedrun@gmail.com" target="_blank">ovaj email</a>.
        Ako me možete kontaktirati na neki drugi način, slobodno mi se javite.
      </li>
    </ul>

    <p class="mt-4 text-lg text-gray-700">
      <strong>Ukoliko imate bilo kakvih pitanja, slobodno me kontaktirajte na <a class="text-blue-500 hover:text-blue-700 font-bold underline" href="mailto:klimatskispeedrun@gmail.com" target="_blank">ovaj email</a>.</strong>
    </p>
  </main>
</Layout>
